<!doctype html>
<html lang="en" ng-app="testingAngularApp">
    <head>
        <title>Testing AngularJS</title>
        <script src="bower_components/angular/angular.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="testingAngularCtrl">
       <header><h1> {{title}}</h1></header>
        
        <section>
            <form ng-submit="addDestination()">
            City: <input name="city" type="text" ng-model="newDestination.city">
            Country: <input name="country" type="text" ng-model="newDestination.country">
            
            <input type="submit" value="Add destination"></form>
        </section>
        <section>
        <h2>Destinations</h2>
            <div ng-show="message" style="color: #F00;">{{ message }}</div>
        <ul ng-repeat="dest in destinations">
            <li>{{ dest.city }} - {{ dest.country }} <span ng-if="dest.weather"> - {{ dest.weather.main }}, {{ dest.weather.temp }}</span>  
                <button type="button" ng-click="getWeather(dest)">Get weather</button>
                <button type="button" ng-click="removeDestination($index)">Remove</button>
            </li>
        </ul>
        </section>
    </body>
</html>
